In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pickle

with open('/content/train.pkl', 'rb') as f:
    train = pickle.load(f)

with open('/content/val.pkl', 'rb') as f:
    val = pickle.load(f)

In [ ]:
train

          data    tMin    tMed    tMax  ... DIFF4_tMax  meses  semana  dias
0   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
1   2018-08-20  11.375  24.625  26.500  ...        NaN    8.0    34.0  20.0
2   2018-08-27  13.000  17.250  21.250  ...        NaN    8.0    35.0  27.0
3   2018-09-03  13.000  18.500  24.000  ...        NaN    9.0    36.0   3.0
4   2018-09-10  10.750  15.375  20.125  ...      2.000    9.0    37.0  10.0
..         ...     ...     ...     ...  ...        ...    ...     ...   ...
275 2019-08-05  10.875  15.000  19.125  ...      1.750    8.0    31.0   5.0
276 2019-08-12  13.250  26.750  30.875  ...     10.375    8.0    32.0  12.0
277 2019-08-19  12.375  16.250  19.875  ...      0.875    8.0    33.0  19.0
278 2019-08-26  10.750  13.750  16.375  ...     -6.500    8.0    34.0  26.0
279 2019-09-02  13.000  17.500  22.000  ...      2.875    9.0    35.0   2.0

[280 rows x 27 columns]

In [ ]:
val

          data    tMin    tMed    tMax  ... DIFF4_tMax  meses  semana  dias
0   2019-09-09  13.375  17.250  20.625  ...        NaN    9.0    36.0   9.0
1   2019-09-16  16.875  22.500  28.000  ...        NaN    9.0    37.0  16.0
2   2019-09-23  15.875  20.125  24.250  ...        NaN    9.0    38.0  23.0
3   2019-09-30  12.000  15.375  18.875  ...        NaN    9.0    39.0  30.0
4   2019-10-07  14.625  20.000  25.375  ...      4.750   10.0    40.0   7.0
..         ...     ...     ...     ...  ...        ...    ...     ...   ...
125 2020-02-03  18.375  23.250  28.000  ...      0.875    2.0     5.0   3.0
126 2020-02-10  18.625  21.875  25.125  ...     -2.625    2.0     6.0  10.0
127 2020-02-17  16.875  20.875  24.875  ...     -0.125    2.0     7.0  17.0
128 2020-02-24  18.500  21.875  25.500  ...      0.375    2.0     8.0  24.0
129 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0

[130 rows x 27 columns]



```
# Isto está formatado como código
```

Erro: 7.09

In [ ]:
df = pd.concat([train, val], axis = 0)
df = df.sort_values(by='data').reset_index(drop=True)

In [ ]:
df

          data    tMin    tMed    tMax  ... DIFF4_tMax  meses  semana  dias
0   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
1   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
2   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
3   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
4   2018-08-13  10.125  14.125  18.125  ...        NaN    8.0    33.0  13.0
..         ...     ...     ...     ...  ...        ...    ...     ...   ...
405 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0
406 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0
407 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0
408 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0
409 2020-03-02  16.500  19.500  22.375  ...     -5.625    3.0     9.0   2.0

[410 rows x 27 columns]

In [ ]:
df['block'] = np.trunc(df.index*0.02).astype(int)
df['block'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
df.head(30)

         data    tMin    tMed    tMax  ... meses  semana  dias  block
0  2018-08-13  10.125  14.125  18.125  ...   8.0    33.0  13.0      0
1  2018-08-13  10.125  14.125  18.125  ...   8.0    33.0  13.0      0
2  2018-08-13  10.125  14.125  18.125  ...   8.0    33.0  13.0      0
3  2018-08-13  10.125  14.125  18.125  ...   8.0    33.0  13.0      0
4  2018-08-13  10.125  14.125  18.125  ...   8.0    33.0  13.0      0
5  2018-08-20  11.375  24.625  26.500  ...   8.0    34.0  20.0      0
6  2018-08-20  11.375  24.625  26.500  ...   8.0    34.0  20.0      0
7  2018-08-20  11.375  24.625  26.500  ...   8.0    34.0  20.0      0
8  2018-08-20  11.375  24.625  26.500  ...   8.0    34.0  20.0      0
9  2018-08-20  11.375  24.625  26.500  ...   8.0    34.0  20.0      0
10 2018-08-27  13.000  17.250  21.250  ...   8.0    35.0  27.0      0
11 2018-08-27  13.000  17.250  21.250  ...   8.0    35.0  27.0      0
12 2018-08-27  13.000  17.250  21.250  ...   8.0    35.0  27.0      0
13 2018-08-27  13.000  17.250  21.250  ...   8.0    35.0  27.0      0
14 2018-08-27  13.000  17.250  21.250  ...   8.0    35.0  27.0      0
15 2018-09-03  13.000  18.500  24.000  ...   9.0    36.0   3.0      0
16 2018-09-03  13.000  18.500  24.000  ...   9.0    36.0   3.0      0
17 2018-09-03  13.000  18.500  24.000  ...   9.0    36.0   3.0      0
18 2018-09-03  13.000  18.500  24.000  ...   9.0    36.0   3.0      0
19 2018-09-03  13.000  18.500  24.000  ...   9.0    36.0   3.0      0
20 2018-09-10  10.750  15.375  20.125  ...   9.0    37.0  10.0      0
21 2018-09-10  10.750  15.375  20.125  ...   9.0    37.0  10.0      0
22 2018-09-10  10.750  15.375  20.125  ...   9.0    37.0  10.0      0
23 2018-09-10  10.750  15.375  20.125  ...   9.0    37.0  10.0      0
24 2018-09-10  10.750  15.375  20.125  ...   9.0    37.0  10.0      0
25 2018-09-17  12.875  16.250  19.875  ...   9.0    38.0  17.0      0
26 2018-09-17  12.875  16.250  19.875  ...   9.0    38.0  17.0      0
27 2018-09-17  12.875  16.250  19.875  ...   9.0    38.0  17.0      0
28 2018-09-17  12.875  16.250  19.875  ...   9.0    38.0  17.0      0
29 2018-09-17  12.875  16.250  19.875  ...   9.0    38.0  17.0      0

[30 rows x 28 columns]

In [ ]:
df.columns

Index(['data', 'tMin', 'tMed', 'tMax', 'precipitacao', 'Produto', 'Vendas',
       'Target', 'DIFF1_Vendas', 'DIFF2_Vendas', 'DIFF3_Vendas',
       'DIFF4_Vendas', 'DIFF1_tMin', 'DIFF2_tMin', 'DIFF3_tMin', 'DIFF4_tMin',
       'DIFF1_tMed', 'DIFF2_tMed', 'DIFF3_tMed', 'DIFF4_tMed', 'DIFF1_tMax',
       'DIFF2_tMax', 'DIFF3_tMax', 'DIFF4_tMax', 'meses', 'semana', 'dias',
       'block'],
      dtype='object')

In [ ]:
from lightgbm import LGBMRegressor
from sklearn.metrics import median_absolute_error

results_val = []

for block in range(1,8):
    print("Train blocks 0-{} - Validation Block {}".format(block - 1, block))

    train = df[df['block'] < block]
    val = df[df['block'] == block]

    features = ['tMin', 'tMed', 'tMax', 'Produto', 'Vendas',
       'DIFF1_Vendas', 'DIFF2_Vendas', 'DIFF3_Vendas','DIFF4_Vendas', 
       'DIFF1_tMin', 'DIFF2_tMin', 'DIFF3_tMin', 'DIFF4_tMin',
       'DIFF1_tMed', 'DIFF2_tMed', 'DIFF3_tMed', 'DIFF4_tMed', 'DIFF1_tMax',
       'DIFF2_tMax', 'DIFF3_tMax', 'DIFF4_tMax', 'semana']

    lgbm = LGBMRegressor(random_state=10, _estimators=500, n_jobs=-1, num_leaves=64, learning_rate=0.0360)
    lgbm.fit(train[features].fillna(-1), train['Target'])

    preds = lgbm.predict(val[features].fillna(-1))
    print(median_absolute_error(val['Target'], preds))
    results_val.append(median_absolute_error(val['Target'], preds))

print("Erro:", np.mean(results_val))

Train blocks 0-0 - Validation Block 1
11.04008495925413
Train blocks 0-1 - Validation Block 2
7.2468097113711005
Train blocks 0-2 - Validation Block 3
5.304805968199776
Train blocks 0-3 - Validation Block 4
8.369793750831576
Train blocks 0-4 - Validation Block 5
6.914686782294121
Train blocks 0-5 - Validation Block 6
4.6490911476902665
Train blocks 0-6 - Validation Block 7
8.245367784028764
Erro: 7.3958057290956765

In [ ]:
results_val = []

for block in range(1,8):
    print("Train blocks {} - Validation Block {}".format(block -1, block))

    train = df[df['block'] == block - 1]
    val = df[df['block'] == block]

    features = ['tMin', 'tMed', 'tMax', 'Produto', 'Vendas',
       'DIFF1_Vendas', 'DIFF2_Vendas', 'DIFF3_Vendas','DIFF4_Vendas', 
       'DIFF1_tMin', 'DIFF2_tMin', 'DIFF3_tMin', 'DIFF4_tMin',
       'DIFF1_tMed', 'DIFF2_tMed', 'DIFF3_tMed', 'DIFF4_tMed', 'DIFF1_tMax',
       'DIFF2_tMax', 'DIFF3_tMax', 'DIFF4_tMax', 'semana']

    lgbm = LGBMRegressor(random_state=10, _estimators=500, n_jobs=-1, num_leaves=64, learning_rate=0.0360)
    lgbm.fit(train[features].fillna(-1), train['Target'])

    preds = lgbm.predict(val[features].fillna(-1))
    print(median_absolute_error(val['Target'], preds))
    results_val.append(median_absolute_error(val['Target'], preds))

print("Erro:", np.mean(results_val))

Train blocks 0 - Validation Block 1
11.04008495925413
Train blocks 1 - Validation Block 2
6.926603564871375
Train blocks 2 - Validation Block 3
9.860648066467089
Train blocks 3 - Validation Block 4
7.733958931483819
Train blocks 4 - Validation Block 5
8.087619379998742
Train blocks 5 - Validation Block 6
11.010857885546045
Train blocks 6 - Validation Block 7
14.667771095558983
Erro: 9.903934840454312